* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
h1{
	margin-bottom: 15px;
  text-align: center;
}
body{
  background-color: white;
}
div#container {
	background-color:#00FFFF;
  width:100%;
  min-height: 1000px; 
}
div.innerDiv{
    position: relative;
    float: left;
    width: 32%;
    height: 300px;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 1px solid black;
}
div.First{
  background-color: pink;
}
div.Second{
  background-color: blue;
}
div.Third{
  background-color: yellow;
}
div.headerItem{
  width: 100px;
  height: 45px;
  background-color: white;
  position: absolute;
  right: 0px;
  top: 0px;
}
div.innerDiv p{
    word-break: break-word;
    padding-top: 56px;
}
div.headerItem p{
  padding: 5px;
}

p{
  font-family: Helvetica;
  color: black;
}
row {
  width: 100%;
}
 @media (min-width: 992px) and (max-width: 1199px) {
  .innerdiv {
    float: left;
    border: 1px solid black;
  }
    #first {
      width: 32%;

    }
    #second {
      width: 32%;
    }
    #third {
      width: 32%;
    }
 	
 	}
 @media (min-width: 768px) and (max-width: 991px){
  .innerdiv {
    float: left;
    border: 1px solid black;
  }
    #first {
      width: 50%;
    }
    #second {
      width: 50%;
    }
    #third {
      width: 50%;
    }

 }
 @media (max-width: 767px) {
  .innerdiv {
    float: left;
    border: 1px solid black;
  }
  #first {
      width: 90%;
    }
    #second {
      width: 90%;
    }
    #third {
      width: 90%;
    }

 }